@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  border-radius: 100vw;
  background-color: transparent;
  border: 0rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #0000ff, #ff0000);
  border-color: white;
  background-clip: content-box;
}

#loader {
  background: url(assets/load.gif) center no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: 15vw;
}

.main {
  flex-direction: row;
  justify-content: space-evenly;
}

.items {
  width: 30vw;
  height: 100vh;
  position: relative;
}

.player {
  width: 40vw;
  height: 100vh;
  position: relative;
}

.backimg {
  width: 40vw;
  height: 100vh;
}

.backgif {
  width: 30vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.overlay {
  background: linear-gradient(to bottom right, #ff0000, #0000ff);
  width: 40vw;
  height: 100vh;
  opacity: 0.3;
  margin-top: -100.7vh;
  position: relative;
  z-index: 2;
}

.gifoverlay {
  background: linear-gradient(to top right, #0000ff, #ff0000);
  width: 30vw;
  height: 100vh;
  opacity: 0.5;
  margin-top: -100.7vh;
  position: relative;
  z-index: 2;
}

.lyrics {
  width: 30vw;
  height: 100vh;
}

.playercard {
  width: 40vw;
  height: 100vh;
  border-radius: 0;
  margin-top: -100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.nav {
  background-color: transparent;
  width: 40vw;
  height: 13vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 17px 5px;
}

.list {
  visibility: hidden;
  height: 87vh;
  overflow-y: scroll;
}

.controls {
  background-color: transparent;
  width: 40vw;
  height: 15vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fillbar {
  position: absolute;
  z-index: 1;
  top: 17.7px;
  left: 10.9px;
  width: 95%;
  border-radius: 5px;
  height: 7px;
  cursor: pointer;
  background-color: white;
}

.filler {
  display: block;
  width: 0%;
  height: 7px;
  border-radius: 5px;
  animation: breathing 7s linear infinite;
  animation-timing-function: ease-in-out;
}

.sliderbar {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  width: 95%;
  border-radius: 5px;
  height: 7px;
  cursor: pointer;
  outline: none;
  background: transparent;
  margin-left: 10.9px;
}

.sliderbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: rgb(226, 74, 125);
}

.sliderbar::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 0px 5px 3px rgb(230, 116, 154);
  background-color: rgb(255, 0, 85);
}

@keyframes breathing {
  0% {
    background-color: violet;
  }
  15% {
    background-color: indigo;
  }
  35% {
    background-color: blue;
  }
  55% {
    background-color: orange;
  }
  75% {
    background-color: red;
  }
  90% {
    background-color: orangered;
  }
  100% {
    background-color: violet;
  }
}

.playercontrol {
  width: 25px;
  cursor: pointer;
  fill: white;
}

.playerbtns {
  height: 43%;
  display: flex;
  justify-content: space-evenly;
}

#loop {
  margin-top: 4.7px;
}

.nasheedtitle {
  font-size: xx-large;
  color: white;
  font-family: "Mooli", sans-serif;
}

.title {
  font-size: medium;
  color: white;
  font-family: "Mooli", sans-serif;
}

.originalLink {
  font-size: small;
  color: #00a2ff;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

.linktext {
  font-size: medium;
  color: white;
  font-family: "Barlow", sans-serif;
}

#cb {
  display: none;
}

.hide {
  display: none;
}

.item {
  margin-top: -100vh;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  z-index: 3;
}

.initem {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: transparent;
  border: 0.1px solid #495057;
  border-left: transparent;
  border-right: transparent;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 3%;
  width: 27vw;
  height: 27vh;
  display: flex;
  justify-content: flex-start;
}

.inflex {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.album {
  border-radius: 5px;
  width: 11vw;
  height: 100%;
}

.playalbum {
  cursor: pointer;
}

.duration {
  font-size: small;
  font-family: "Inclusive Sans", sans-serif;
}

.ham {
  width: 35px;
  display: none;
  cursor: pointer;
  border: none;
  appearance: none;
  background: none;
  outline: none;
  position: relative;
  padding: 0px 5px;
}

.ham .hambar,
.ham:after,
.ham:before {
  content: " ";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  border-radius: 3px;
  transition: 0.3s;
}

.ham.active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.ham.active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.ham.active .hambar {
  opacity: 0;
}

@media only screen and (max-width: 950px) {
  .ham {
    width: 35px;
    display: block;
    cursor: pointer;
    border: none;
    appearance: none;
    background: none;
    outline: none;
    position: relative;
  }

  .ham .hambar,
  .ham:after,
  .ham:before {
    content: " ";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    border-radius: 3px;
    transition: 0.3s;
  }

  .ham.active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }

  .ham.active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .ham.active .hambar {
    opacity: 0;
  }

  .lyrics {
    display: none;
  }

  .items {
    display: none;
  }

  .player {
    width: 100vw;
    height: 100vh;
  }

  .backimg {
    width: 100vw;
    height: 100vh;
  }

  .overlay {
    background: linear-gradient(to bottom right, #ff0000, #0000ff);
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
  }

  .nasheedtitle {
    font-size: xx-large;
    color: white;
    font-family: "Mooli", sans-serif;
  }

  .playercard {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -100vh;
    z-index: 3;
  }

  .nav {
    background-color: transparent;
    width: 100vw;
    height: 13vh;
    position: sticky;
  }

  .fillbar {
    top: 21px;
  }

  .controls {
    background-color: transparent;
    width: 100vw;
    height: 19vh;
    position: sticky;
  }

  .playercontrol {
    width: 25px;
    cursor: pointer;
  }

  #loop {
    margin-top: 9px;
  }

  .list {
    height: 75vh;
    /* transition: 0.3s; */
    overflow-y: scroll;
  }

  .list.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
  }

  .mobinitem {
    margin-left: 75px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: transparent;
    border: 0.1px solid #495057;
    border-left: transparent;
    border-right: transparent;
    margin-top: 3%;
    margin-bottom: 1%;
    width: 55vw;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
  }

  .mobcover {
    height: 15vh;
  }

  .album {
    border-radius: 5px;
    width: 17vw;
    height: 100%;
  }

  .mobplayalbum {
    cursor: pointer;
  }

  .title {
    font-size: small;
    font-family: "Mooli", sans-serif;
    color: white;
  }

  .originalLink {
    font-size: x-small;
    color: #00a2ff;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
  }

  .duration {
    font-size: x-small;
  }
}
