* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#loader {
  background: url(assets/load.gif) center no-repeat;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-size: 15vw;
}

.main {
  flex-direction: row;
  justify-content: space-evenly;
}

.items {
  /* border-right: 1px white solid; */
  width: 30vw;
  height: 100vh;
}

.player {
  /* border-right: 1px white solid; */
  width: 40vw;
  height: 100vh;
}

.backimg {
  width: 40vw;
  height: 100vh;
}

.backgif {
  width: 30vw;
  height: 100vh;
}

.overlay {
  background: linear-gradient(to bottom right, #ff0000, #0000ff);
  width: 40vw;
  height: 100vh;
  opacity: 0.5;
  margin-top: -100vh;
}

.gifoverlay {
  background: linear-gradient(to top right, #0000ff, #ff0000);
  width: 30vw;
  height: 100vh;
  opacity: 0.5;
  margin-top: -100vh;
}

.lyrics {
  width: 30vw;
  height: 100vh;
}

.playercard {
  width: 40vw;
  height: 100vh;
  border-radius: 0;
  margin-top: -100vh;
}

.playercontrol {
  width: 1.7vw;
  cursor: pointer;
  fill: white;
}

.playerbtns {
  display: flex;
  justify-content: space-evenly;
}

.bar {
  background: transparent;
}

.card-title {
  font-size: xx-large;
  color: white;
}

#originallink {
  font-size: small;
  color: #1d6df7;
}

.card-text {
  font-size: medium;
  color: aliceblue;
}

#cb {
  display: none;
}

@media only screen and (max-width: 500px) {
  .lyrics {
    display: none;
  }

  .items {
    display: none;
  }

  .player {
    /* border-right: 1px white solid; */
    width: 100vw;
    height: 100vh;
  }

  .backimg {
    width: 100vw;
    height: 100vh;
  }

  .overlay {
    background: linear-gradient(to bottom right, #ff0000, #0000ff);
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
  }

  .playercard {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    margin-top: -100vh;
  }

  .playercontrol {
    width: 5vw;
    cursor: pointer;
  }
}

@media only screen and (min-width: 501px) and (max-width: 950px) {
  .lyrics {
    display: none;
  }

  .items {
    display: none;
  }

  .player {
    /* border-right: 1px white solid; */
    width: 100vw;
    height: 100vh;
  }

  .backimg {
    width: 100vw;
    height: 100vh;
  }

  .overlay {
    background: linear-gradient(to bottom right, #ff0000, #0000ff);
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
  }

  .playercard {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    margin-top: -100vh;
  }

  .playercontrol {
    width: 5vw;
    cursor: pointer;
  }
}
