@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Inclusive+Sans&family=Mooli&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  /* background-color: #0B210E; */
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-block-start: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  /* background: rgb(255, 0, 85); */
  background-color: #90c7fd;
}

::-webkit-scrollbar-thumb:hover {
  background: #1E90FF;
}

.item::-webkit-scrollbar {
  width: 0.5rem;
}

#loader {
  background: url(assets/load.gif) center no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: 15vw;
}

.main {
  flex-direction: row;
  justify-content: space-evenly;
}

.items {
  width: 30vw;
  height: 100vh;
  position: relative;
}

.lyrics {
  width: 30vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

#yes,
#no {
  height: 100vh;
  width: 50vw;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  cursor: pointer;
  border: solid 1px white;
  font-family: "Mooli", sans-serif;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;

}

.songswithoutmusic,
.nasheedsHeading {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
}

.songsCollage,
.nasheedsCollage {
  grid-row: 1;
  grid-column: 1;
  width: 49.9vw;
  height: 100vh;
}

.player {
  /* width: 40vw; */
  flex: 1;
  height: 100vh;
  position: relative;
}

.backimg {
  width: 100%;
  height: 100%;
}

/* .backgif {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
} */

/* .overlay {
  background: linear-gradient(to bottom right, #ff0000, #0000ff);
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: relative;
  z-index: 1;
  margin-top: -100.71vh;
}

.gifoverlay {
  background: linear-gradient(to top right, #0000ff, #ff0000);
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: relative;
  z-index: 2;
  margin-top: -100.71vh;
} */

.playercard {
  width: 100%;
  height: 100%;
  margin-top: -100.71vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.nav {
  background-color: transparent;
  width: 100%;
  /*height: 111px;*/
height: fit-content;
  position: sticky;
  top: 0px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: start;
backdrop-filter: blur(25px);
}

.info {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 0px 9px;
  justify-content: space-between;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  overflow-y: scroll;
}

.controls {
  background-color: transparent;
  width: 100%;
  height: 111px;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.slidebar {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

.fillbar {
  position: absolute;
  z-index: 1;
  /* top: 20px; */
  width: 95%;
  border-radius: 9px;
  height: 11px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.178);
}

.filler {
  display: block;
  height: 100%;
  border-radius: 9px;
  background-color: white;
  /* animation: breathing 7s ease-in-out infinite linear; */
}

/* @keyframes breathing {
  0% {
    background-color: violet;
  }

  15% {
    background-color: indigo;
  }

  35% {
    background-color: blue;
  }

  55% {
    background-color: rgb(247, 95, 40);
  }

  75% {
    background-color: rgb(235, 49, 49);
  }

  90% {
    background-color: rgba(241, 30, 171, 0.87);
  }

  100% {
    background-color: violet;
  }
} */

.sliderbar {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  width: 95%;
  border-radius: 9px;
  height: 11px;
  cursor: pointer;
  outline: none;
  background: transparent;
}

.sliderbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  /* background-color: rgb(226, 74, 125); */
  background-color: #90c7fd;
}

/* .sliderbar::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 5px 3px #90c7fd;
  background-color: #1E90FF;
} */

.playercontrol {
  background-color: transparent;
  width: 33px;
  height: 33px;
  cursor: pointer;
  fill: white;
  -webkit-tap-highlight-color: transparent;
}

/* .playercontrol:hover {
  fill: #1E90FF;
} */

.playerbtns {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.songtime{
  color: white;
  font-size: 30px;
}

.nasheedtitle {
  font-size: xx-large;
  color: white;
  font-family: "Mooli", sans-serif;
}

.title {
  font-size: medium;
  color: white;
  font-family: "Mooli", sans-serif;
}

.originalLink {
  font-size: small;
  color: #90c7fd;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

.originalLink:hover {
  color: #1E90FF;
}

.duration {
  color: white;
  padding-top: 7px;
  font-size: small;
  font-family: "Inclusive Sans", sans-serif;
}

#cb {
  display: none;
}

.hide {
  display: none;
}

.item {
  width: 100%;
  height: 100%;
  /* margin-top: -100.71vh; */
  overflow-y: scroll;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.searchwrapper {
  position: sticky;
  top: 0px;
  margin-bottom: 1%;
}

#search {
  background: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 27vw;
  height: 45px;
  border: transparent;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  outline: none;
  font-family: "Mooli", sans-serif;
  padding-left: 15px;
  color: #000000;
}

::-webkit-search-cancel-button {
  display: none;
}

::placeholder {
  color: #0B210E;
}

::-moz-placeholder {
  opacity: 1;
}

.initem {
  padding: 1% 0%;
  background-color: transparent;
  border: 0.1px solid #90c7fd;
  border-left: transparent;
  border-right: transparent;
  margin: 1.5% 0%;
  width: 27vw;
  height: 150px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.inflex {
  flex: 1;
  overflow-x: scroll;
  flex-direction: column;
  padding: 3%;
}

.inflex::-webkit-scrollbar {
  height: 0;
}

.album {
  border-radius: 9px;
  width: 45%;
  height: 100%;
}

.ham {
  width: 45px;
  display: none;
  cursor: pointer;
  border: none;
  appearance: none;
  background: none;
  outline: none;
  position: relative;
  padding: 0px 9px;
  -webkit-tap-highlight-color: transparent;
}

.ham .hambar,
.ham:after,
.ham:before {
  content: " ";
  display: none;
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  border-radius: 3px;
  transition: 0.3s;
}

.ham.active:after {
  transform: rotate(45deg) translate(-9.5px, -8px);
}

.ham.active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.ham.active .hambar {
  opacity: 0;
}

.mobBackCover {
  display: none;
}

@media (hover: hover) {
  .playercontrol:hover {
    fill: #1E90FF;
  }

  .sliderbar::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 5px 3px #90c7fd;
    background-color: #1E90FF;
  }
}

@media only screen and (max-width: 521px) {
  .backimg.active {
    filter: opacity(0);
  }

  .backimg {
    filter: blur(5px);
  }

  .ham {
    display: block;
  }

  .ham .hambar,
  .ham:after,
  .ham:before {
    display: block;
  }

  .lyrics {
    display: none;
  }

  .items {
    display: none;
  }

  .player {
    width: 100vw;
  }

  .list.active {
    visibility: visible;
  }

  .mobinitem {
    padding: 1% 0%;
    background-color: transparent;
    border: 0.1px solid #90c7fd;
    border-left: transparent;
    border-right: transparent;
    margin: 1.5% 0%;
    width: 75vw;
    height: 125px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }


  #search {
    width: 75vw;
  }

  .mobcover {
    height: 95px;
  }

  .album {
    width: 41%;
  }

  .mobBackCover {
    display: unset;
    width: 75vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 12.5vw;
    border-radius: 9px;
  }

  .mobBackCover.active {
    filter: opacity(0);
  }

  .decision {
    flex-direction: column-reverse;
    -webkit-tap-highlight-color: transparent;
  }

  #yes,
  #no {
    width: 100vw;
    height: 50vh;
  }

  .nasheedsCollage,
  .songsCollage {
    width: 100vw;
    height: 49.9vh;
  }
}

@supports (-moz-appearance: none) {
  .fillbar {
    height: 9px;
  }

  .sliderbar {
    height: 9px;
  }

  .searchwrapper {
    margin-bottom: 37px;
  }

  .inflex {
    scrollbar-color: transparent transparent;
  }

  html {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
  }

  .item {
    scrollbar-color: white transparent;
    scrollbar-width: thin;
  }
}